.main-content {
    margin-top: 60px;
}

.animal-info-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}

.animal-details {
    width: 50%;

    box-sizing: border-box; /* Учитывает отступы и границы */

}

.details-container {
    border: 1px solid #ddd; /* Рамка для контейнера */
    border-radius: 8px; /* Скругление углов */
    padding: 20px;
    background-color: #fff; /* Белый фон */
}

.details-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Линия разделяющая элементы */
}

.info-list li:last-child {
    border-bottom: none; /* Убираем нижнюю линию у последнего элемента */
}

.info-list strong {
    font-weight: bold;
    color: #333; /* Цвет для текста заголовка */
}

.info-list li:nth-child(even) {
    background-color: #f9f9f9; /* Чередование фона для четных элементов */
}

.animal-slider {
    width: 50%;
    box-sizing: border-box;
}

.slider {
    margin: 0 auto;
    max-width: 100%;
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slide_buttons {
    left: 0;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: -55%;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

.previous_btn {
    bottom: 0;
    left: 10px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 0;
}

@media only screen and (max-width: 767px) {
    .animal-info-container {
        flex-direction: column;
        gap: 20px;
    }

    .animal-details {
        width: 100%; /* На мобильных устройствах 100% ширины */
    }

    .animal-slider {
        width: 100%; /* На мобильных устройствах 100% ширины */
    }

    .directional_nav {
        top: auto;
    }

    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}
.animal-title-section {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    position: relative;
    margin: 2% 3% 1% 3%;
}

.category-title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;

    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 10px;
}

.animal-icon {
    width: 65px; /* Установите желаемую ширину */
    height: 65px; /* Установите желаемую высоту */
    margin-left: 10px; /* Отступ между заголовком и иконкой */
    transition: transform 0.3s ease;
}
.animal-icon:hover {
    transform: scale(1.05);
}

.animal-title {

    font-size: 36px;
    font-weight: bold;
}


.gender-link {
    text-decoration: none;
}
.gender-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: transform 0.3s ease;
}

.gender-info:hover {
    transform: scale(1.05);
}

.gender-info span {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #090909;
}

.gender-icon {
    width: 30px;
    height: 30px;
}
.item-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: transform 0.3s ease;
}
.item-info span {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #090909;
}

.item-icon {
    width: 30px;
    height: 30px;
}
