body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/*Стили кнопок изменения фона профиля*/
.profile-background {

    background-size: cover;
    background-position: center;
    height: 300px; /* Высота 100% окна браузера */
    position: relative;
    z-index: 1;
}
.bg-buttons{
    float: right;
    margin: 240px 0 24px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 300px;
}
.upload-bg-button {

    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.upload-bg-button .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.upload-bg-button .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.upload-bg-button:hover {
    width: 250px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.upload-bg-button:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.upload-bg-button:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.upload-bg-button:hover {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}
.remove-bg-button {
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.remove-bg-button .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.remove-bg-button .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.remove-bg-button:hover {
    width: 250px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.remove-bg-button:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.remove-bg-button:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.remove-bg-button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

/*Конец стилей изменения фона профиля*/

/*начало стиля кнопок изменения профиля*/
.upload-button {
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.upload-button .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.upload-button .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.upload-button:hover {
    width: 110px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.upload-button:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.upload-button:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.upload-button:hover {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}



.crop-button {
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.crop-button .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.crop-button .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.crop-button:hover {
    width: 150px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.crop-button:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.crop-button:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.crop-button:hover {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}


.remove-profile-button {
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.remove-profile-button .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.remove-profile-button .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.remove-profile-button:hover {
    width: 200px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.remove-profile-button:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.remove-profile-button:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.remove-profile-button:hover {
    background-color: rgb(255, 45, 45);
    color: rgb(255, 255, 255);
}



/* конец стиля кнопок изменения профиля */

.profile-image-functions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
}
.buttons{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 300px;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Профиль выше фона */
}

.profile-image {
    width: 150px;   /* Фиксируем ширину */
    height: 150px;  /* Фиксируем высоту */
    margin-right: 20px;
    overflow: hidden;  /* Убираем всё, что выходит за границы контейнера */
    border-radius: 50%;  /* Делаем круглый контейнер */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение заполняет контейнер, сохраняя пропорции */
    display: block;    /* Убираем любые возможные отступы вокруг изображения */
}
.form-container{
    width: 400px;
}
.profile-info {
    flex: 1;
}

.profile-info h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Начало стиля для модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    max-height: 90vh; /* Ограничение по высоте экрана */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.crop-container {
    width: 100%;
    flex: 1; /* Заполнить оставшееся пространство контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #f1f1f1;
}
.cropper-container.cropper-bg {

    position: relative;
    overflow: hidden; /* Чтобы изображение не выходило за пределы */
    margin-bottom: 10px;
    background-color: #f1f1f1; /* Цвет фона */
    background-position: center center;
    background-size: cover; /* Заполнение контейнера изображением */
}
#cropImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Сохранение пропорций изображения */
    position: relative; /* Изображение остаётся внутри контейнера */
}

/* Рамка для области обрезки */
.cropper-crop-box {
    width: 60%; /* Примерный размер области обрезки */
    height: 60%; /* Примерный размер области обрезки */
    border: 2px dashed #00f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Конец стиля для модального окна */

/* Основной стиль панели */
.sidebar {
    position: fixed;
    top: 300px;
    left: -250px; /* по умолчанию скрыта за пределами экрана */
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    transition: left 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Профиль выше фона */
}

/* Стиль открытой панели */
.sidebar.open {
    left: 0; /* при открытии сдвигаем в область видимости */
}

/* Кнопка для открытия панели */
.sidebar-toggle-button {
    position: fixed;
    top: 800px;
    left: 10px;
    z-index: 1001;
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;

    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.sidebar-toggle-button .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.sidebar-toggle-button .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.sidebar-toggle-button:hover {
    width: 150px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.sidebar-toggle-button:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.sidebar-toggle-button:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.sidebar-toggle-button:hover {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}


.button-save-sidebar {

    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.button-save-sidebar:hover {
    background-color: #00ff17;
    color: #ffffff;
}
/*конец стилей боковой панели*/


/*начало стилей кнопок для сохранения или отмены изменений всей формы*/
.button-save {
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.button-save .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.button-save .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.button-save:hover {
    width: 200px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.button-save:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.button-save:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.button-save:hover {
    background-color: rgb(0, 255, 23);
    color: rgb(255, 255, 255);
}



.button-cancel {
    border: 2px solid #6b7280;
    border-radius: 50%; /* Кнопка будет круглой, как в Btn */
    width: 45px; /* Начальная ширина кнопки */
    height: 45px; /* Начальная высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.button-cancel .icon {
    width: 20px;
    height: 20px;
    transition-duration: .3s;
}

.button-cancel .button-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0; /* Изначально текст скрыт */
    transition-duration: .4s;
    white-space: nowrap; /* Запрещаем перенос текста */
    left: 50%;
    transform: translateX(-50%); /* Центрируем текст по горизонтали */
}

.button-cancel:hover {
    width: 200px; /* Кнопка расширяется при наведении */
    border-radius: 30px; /* Углы округляются */
}

.button-cancel:hover .button-text {
    opacity: 1; /* Показываем текст при наведении */
    transition-duration: .4s;
}

.button-cancel:hover .icon {
    opacity: 0; /* Иконка исчезает при наведении */
    transition-duration: .3s;
}

.button-cancel:hover {
    background-color: rgb(255, 45, 45);
    color: rgb(255, 255, 255);
}
.form-buttons{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 400px;
}

/*конец стилей кнопок сохранения или отмены изменений профиля*/



input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="url"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}
.checkbox-wrapper-31 {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    appearance: none;
}

.checkbox-wrapper-31 svg {
    width: 20px;
    height: 20px;
}

.checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
}
