body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/*Стили кнопок изменения профиля*/
.profile-background {

    background-size: cover;
    background-position: center;
    height: 300px; /* Высота 100% окна браузера */
    position: relative;
    z-index: 1;
}

.custom-bg-button {
    float: right;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 240px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-bg-button:hover {
    background-color: #000;
    color: #eee;
}
.remove-bg-button {
    float: right;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 240px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #fdc6c6;
    cursor: pointer;
    transition: all 0.5s;
}

.remove-bg-button:hover {
    background-color: #ff0000;
    color: #eee;
}
/*Конец стилей изменения профиля*/

/*начало стиля кнопок изменения профиля*/
.custom-upload-button {
    width: 70%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 5px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-upload-button:hover {
    background-color: #000;
    color: #eee;
}
.edit-crop-button{
    width: 70%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}
.edit-crop-button:hover{
    background-color: #000;
    color: #eee;
}
.remove-profile-button {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.remove-profile-button:hover {
    background-color: #ff0000;
    color: #eee;
}

/* конец стиля кнопок изменения профиля */

.profile-image-functions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Профиль выше фона */
}

.profile-image {
    width: 150px;   /* Фиксируем ширину */
    height: 150px;  /* Фиксируем высоту */
    margin-right: 20px;
    overflow: hidden;  /* Убираем всё, что выходит за границы контейнера */
    border-radius: 50%;  /* Делаем круглый контейнер */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение заполняет контейнер, сохраняя пропорции */
    display: block;    /* Убираем любые возможные отступы вокруг изображения */
}
.form-container{
    width: 400px;
}
.profile-info {
    flex: 1;
}

.profile-info h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Начало стиля для модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    max-height: 90vh; /* Ограничение по высоте экрана */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.crop-container {
    width: 100%;
    flex: 1; /* Заполнить оставшееся пространство контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #f1f1f1;
}
.cropper-container.cropper-bg {

    position: relative;
    overflow: hidden; /* Чтобы изображение не выходило за пределы */
    margin-bottom: 10px;
    background-color: #f1f1f1; /* Цвет фона */
    background-position: center center;
    background-size: cover; /* Заполнение контейнера изображением */
}
#cropImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Сохранение пропорций изображения */
    position: relative; /* Изображение остаётся внутри контейнера */
}

/* Рамка для области обрезки */
.cropper-crop-box {
    width: 60%; /* Примерный размер области обрезки */
    height: 60%; /* Примерный размер области обрезки */
    border: 2px dashed #00f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Конец стиля для модального окна */

/* Основной стиль панели */
.sidebar {
    position: fixed;
    top: 300px;
    left: -250px; /* по умолчанию скрыта за пределами экрана */
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    transition: left 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Профиль выше фона */
}

/* Стиль открытой панели */
.sidebar.open {
    left: 0; /* при открытии сдвигаем в область видимости */
}

/* Кнопка для открытия панели */
.sidebar-toggle-button {
    position: fixed;
    top: 800px;
    left: 10px;
    z-index: 1001;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #6b7280;
    padding: 8px 24px;
    cursor: pointer;
    margin: 12px 0 24px;
    border-radius: 5px;
    transition: all 0.5s;
}
.sidebar-toggle-button:hover {
    background-color: #000;
    color: #eee;
}
.button-save-sidebar {

    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.button-save-sidebar:hover {
    background-color: #00ff17;
    color: #ffffff;
}

.button-save {
    width: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.button-save:hover {
    background-color: #00ff17;
    color: #ffffff;
}

.button-cancel {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.button-cancel:hover {
    background-color: #ff0000;
    color: #eee;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="url"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}
