/* Контент под навбаром */
body {
    background-color: #F6F5F1; /* Example background color */
}
.content-wrapper {
    margin: 80px auto 0;
    width: 85%;
    background-color: #F6F5F1;
}
.content-wrapper .content-with-border {
    padding: 20px; /* Optional: adds padding inside the border */
    border: 2px solid #F1F0EA; /* The big border around all content */
    border-radius: 15px; /* Rounded corners */
    background-color: #FAFAF8;
}
.content-with-border {
    margin-bottom: 30px;
}
.welcome-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
}
.welcome-wrapper p {
    font-weight: bold;
}

.welcome-message {
    text-align: center;
    margin: 0 auto;

    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    height: 200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.welcome-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(24, 24, 24, 0.5); /* Полупрозрачный фон для текста */
    z-index: 1;

    /* Увеличиваем рамку вокруг текста */
    padding: 15px; /* Добавляет отступы внутри рамки */

    /* Скругляем углы */
    border-radius: 15px; /* Увеличьте это значение для более округлых углов */
}


/* Форум стили */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.view-more {
    text-align: center;
    margin-bottom: 20px;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #a8a7a7;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease; /* Плавная анимация для блока */
}

.topic:hover {
    transform: scale(1.03); /* Увеличение размера блока при наведении */
}

.user-info {
    display: flex;
    align-items: center;
}

.created-at {
    margin-left: auto; /* Сдвигаем дату к правому краю */
    font-size: 0.9em; /* Уменьшаем размер шрифта для даты, если нужно */
    color: #666; /* Изменяем цвет текста для лучшего восприятия */
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.topic-title {
    flex-grow: 1;
    color: #547e3c;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease; /* Добавляем плавный переход для трансформации */
}

.topic-title:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: #53a232;
}

.responses {
    color: #666;
    margin-left: 10px;
    font-weight: bold;
}

.fire-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.discussions-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.hot-discussion {
    width: 62%; /* Ширина для Hot Discussions (большая часть) */
    margin-right: 20px; /* Отступ справа */
    border: 2px solid #a8a7a7;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 15px;
}

.hot-discussion h2 {
    margin-bottom: 10px;
    text-align: center;
}

.your-topics {
    width: 38%; /* Ширина для Now Discuss (меньшая часть) */
    border: 2px solid #a8a7a7;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 15px;
    height: 300px; /* Устанавливаем фиксированную высоту */
    overflow-y: auto; /* Включаем вертикальный скролл */
}


.your-topics h2 {
    text-align: center;
}
.your-topics p {
    margin-top: 10px;
    font-size: 0.9em; /* Уменьшение размера текста для демонстрационного контента */
}
.search-wrapper {
    display: flex;
    justify-content: center; /* Центрируем кнопку поиска */
    margin: 20px 0; /* Отступ сверху и снизу */
}

.search-field {
    display: flex; /* Используем flex для размещения инпута и кнопки */
    justify-content: center; /* Центрируем контент */
    align-items: center; /* Вертикальное выравнивание */
}
.search-button {
    margin-left: 10px;
}

.recent-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}
.pagination {
    display: flex;
    justify-content: center; /* Центрирует элементы по горизонтали */
    align-items: center; /* Центрирует элементы по вертикали */
    margin: 15px 0; /* Отступы сверху и снизу */
}

.pagination a, .pagination span {
    display: inline-block; /* Делает элементы блочными */
    padding: 0.8em 1.6em; /* Уменьшенные внутренние отступы */
    margin: 0 4px; /* Отступы между кнопками */
    border-radius: 8em; /* Уменьшенные скругленные углы */
    font-size: 14px; /* Уменьшенный размер текста */
    font-weight: 700; /* Более жирный текст */
    color: black; /* Цвет текста */
    text-decoration: none; /* Убирает подчеркивание */
    background-color: white; /* Цвет фона */
    border: 2px solid black; /* Жирная граница */
    box-shadow: 0 0 0 0 black; /* Тень */
    transition: all 0.3s ease-in-out; /* Плавный переход */
}

.pagination a:hover {
    transform: translateY(-3px) translateX(-1px); /* Эффект при наведении */
    box-shadow: 2px 5px 0 0 black; /* Тень при наведении */
}

.pagination a:active {
    transform: translateY(1px) translateX(0px); /* Эффект при нажатии */
    box-shadow: 0 0 0 0 black; /* Убирает тень при нажатии */
}

.pagination span {
    background-color: transparent; /* Прозрачный фон для разделителей */
    color: #333; /* Цвет текста для разделителей */
    padding: 0.8em 1.6em; /* Уменьшенные внутренние отступы */
    font-size: 14px; /* Уменьшенный размер текста для разделителей */
    font-weight: 700; /* Более жирный текст для разделителей */
}
.pagination .page-number.active {
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(9, 9, 9);
}
.pagination-icon {
    width: 18px; /* Задайте нужный размер */
    height: 18px; /* Можно также задать высоту */
    object-fit: contain; /* Чтобы изображение не растягивалось */
    margin: 0 4px; /* Отступы, если нужно */
}
.no-result {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует содержимое по горизонтали */
    justify-content: center; /* Центрирует содержимое по вертикали */
    text-align: center; /* Центрирование текста */
}


.no-result-image {
    width: 150px; /* Установите ширину изображения по вашему усмотрению */
    height: auto; /* Высота будет пропорциональной */
    border-radius: 30%;
}

.no-result-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: darkred; /* Цвет текста */
    margin-top: 10px; /* Отступ сверху для текста */
}
.no-result-small-text{
    font-weight: bold;
}

.your-topics .user-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 200px; /* Высота фона */
    border-radius: 8px;
    border: 2px solid #a8a7a7;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
}

.your-topics .profile-inner {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4); /* Легкий белый фон с уменьшенной прозрачностью */
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(8px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(8px); /* Поддержка для Safari */
}


.your-topics .profile-image {
    width: 70px; /* Увеличен размер иконки */
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.your-topics .user-info {
    display: flex;
    flex-direction: column;
}

.your-topics .username {
    font-size: 1.4em;
    font-weight: bold;
}

.your-topics .topic-count {
    font-size: 1em;
    color: #000000;
    margin-top: 5px; /* Немного отступа для лучшей читаемости */
}
.icon {
    height: 1.7em;
    width: auto;
    position: absolute; /* добавлено для корректного поведения */
    transition: opacity 0.3s ease; /* добавлен переход для плавного исчезновения */
}

.BtnH {
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.4s, border-radius 0.4s; /* можно объединить transition */
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
    position: absolute; /* изменено на absolute для позиционирования */
    top: 2.5%; /* расстояние от верхнего края контейнера в процентах */
    right: 5%; /* расстояние от правого края контейнера в процентах */
}

.BtnH:hover {
    width: 90px;
    border-radius: 30px;
}

.BtnH:hover .icon {
    opacity: 0; /* при наведении на кнопку картинка исчезает */
}

.BtnH:hover .text {
    opacity: 1;
}

.BtnH text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 90px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.4s ease; /* добавлен переход для текста */
}

