@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Общие стили */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif; /* Основной шрифт - Quicksand */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Стили навигации */
nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
    transition: transform 0.3s ease-in-out; /* Плавный переход по трансформации */
}

.nav-hidden {
    transform: translateY(-100%); /* Перемещаем навбар вверх за пределы экрана */
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

/* Стили выпадающего меню */
.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.container {
    margin-top: 80px; /* Установите значение, которое вам нужно, чтобы создать пространство между navbar и карточками */
}
/* Стили мегаменю */
.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

/* Адаптивные стили */
@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
        transition: all 0.3s ease;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }

    #menu-btn:checked ~ .nav-links {
        left: 0%;
    }

    #menu-btn:checked ~ .btn.menu-btn {
        display: none;
    }

    #close-btn:checked ~ .btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

/* Карточки */
.cards-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none; /* Убирает подчеркивание для ссылок внутри карточки */
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    position: relative; /* Позволяет позиционировать псевдоэлемент относительно этого элемента */
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -40px;
    height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Основной фон для текста */
    line-height: 40px;
    overflow: hidden; /* Убедитесь, что эллипс не выходит за пределы родительского элемента */
}

.card .card_title::before {
    content: ""; /* Псевдоэлемент для создания фона */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Центрирование элемента */
    width: 120%; /* Размер эллипса, может быть настроен по вашему усмотрению */
    height: 120%; /* Размер эллипса, может быть настроен по вашему усмотрению */
    border-radius: 50%; /* Создает форму эллипса */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный затемненный фон */
    z-index: -1; /* Убедитесь, что фоновый элемент находится за текстом */
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет от родителя, чтобы текст не изменял цвет */
}

.card a:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
    color: inherit; /* Убедиться, что цвет не меняется при наведении */
}

.card a:active {
    text-decoration: none; /* Убирает подчеркивание при активации */
    color: inherit; /* Убедиться, что цвет не меняется при активации */
}

/* Цвет текста */
.title-white {
    color: white;
}

.title-black {
    color: black;
}
@media all and (max-width: 500px) {
    .cards-list {
        flex-direction: column;
    }
}
/*checkbox*/
 .checkbox-wrapper-24 .checkbox {
     display: table-cell;
     width: 100%;
     height: 100%;
     vertical-align: middle;
     text-align: center;
 }

.checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
}
.checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type=checkbox] {
    display: none;
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.intro {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    min-height: 80vh; /* Увеличенная минимальная высота секции */
    display: flex;
    align-items: center; /* Центрирование текста по вертикали */
    justify-content: center; /* Центрирование текста по горизонтали */
}

.intro-image {
    width: 100%;
    height: 100%; /* Подгоняем высоту изображения к высоте секции */
    object-fit: cover; /* Обрезка изображения, чтобы заполнить секцию */
}


.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 20px;
    border-radius: 10px;
}

.about-us-section {
    background-color: #f4f4f4; /* Более тёмный фон */
    padding: 40px 20px;
}

.about-us-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
.about-us-section h3 {
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    color: #a45c65;
}
.about-us-section p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.choose-friend h2 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative; /* Необходимо для позиционирования псевдоэлемента */
    padding-bottom: 10px; /* Отступ снизу для места под подчеркивание */
}

.choose-friend h2::after {
    content: ""; /* Псевдоэлемент не имеет содержимого */
    display: block;
    width: 10%; /* Ширина подчеркивания равна половине ширины текста */
    height: 2px; /* Толщина подчеркивания */
    background-color: #333; /* Цвет подчеркивания */
    position: absolute; /* Позиционирование относительно родительского элемента */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Смещение на половину ширины элемента для точного центрирования */
    bottom: 0; /* Расположить подчеркивание чуть ниже текста */
}


.carousel {
    position: relative;
    width: 100%;
    height: 100%; /* Убедитесь, что высота соответствует размеру изображений */
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #717377;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #636468;
}

::-webkit-scrollbar-thumb:active {
    background: #435d73;
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #bebebe;
}

::-webkit-scrollbar-track:active {
    background: #d7d7d7;
}

::-webkit-scrollbar-corner {
    background: transparent;
}