@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header .navbar {
    width: 100%;
    background-color: #f8f9fa; /* Background color of navbar */
    border-bottom: 1px solid #e0e0e0; /* Optional: to add a border at the bottom */
}

header .navbar-brand {
    font-size: 1.5rem; /* Font size for the brand */
    font-family: "Quicksand", sans-serif; /* Apply Quicksand font to navbar brand */
}

header .navbar-nav .nav-link {
    font-size: 1rem; /* Font size for navigation links */
    font-family: "Quicksand", sans-serif; /* Apply Quicksand font to navbar links */
}

.cards-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none; /* Ensure no underline for links inside card */
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    line-height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.card a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет от родителя, чтобы текст не изменял цвет */
}

.card a:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
    color: inherit; /* Убедиться, что цвет не меняется при наведении */
}

/* Также можно добавить стиль для состояния активной ссылки, если это необходимо */
.card a:active {
    text-decoration: none; /* Убирает подчеркивание при активации */
    color: inherit; /* Убедиться, что цвет не меняется при активации */
}
.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .cards-list {
        flex-direction: column;
    }
}
