body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Цвет фона страницы */
}

.profile-background {

    background-size: cover;       /* Изображение покрывает всю ширину контейнера */
    background-position: center;  /* Центрируем фон */
    height: 30vh;                /* Высота фона */
    position: relative;           /* Для позиционирования содержимого */
}
.profile-container {
    display: flex; /* Выравнивание профилей по горизонтали */
    justify-content: space-between; /* Равномерное распределение места */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    gap: 20px; /* Расстояние между профилями */
}
.profile-image-functions{
    display: flex;
    align-items: flex-start;
}
.profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Разделяем колонки */
    max-width: 90vh;
    margin: 10% 0 0 15%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    gap: 20px; /* Расстояние между колонками */
}
.profile-options {
    max-width: 40vh;
    margin: 17% auto 0 2%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    gap: 20px; /* Расстояние между колонками */
}
.profile-options h2 {
    text-align: center;
}
.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое */
    text-align: center; /* Выравниваем текст по центру */
    margin-right: 2%;
}

.profile-image {
    width: 15vh;
    height: 15vh;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.username {
    font-size: 20px;
    margin-bottom: 7%;
    font-weight: bold;
    color: #333;
}
/* Контейнер для элемента информации */
.info-item {
    display: flex;           /* Горизонтальное выравнивание */
    align-items: center;     /* Вертикальное выравнивание */
    gap: 10px;               /* Расстояние между иконкой и текстом */
    font-size: 16px;         /* Размер текста */
    font-weight: 600;
    margin-bottom: 5%;     /* Отступ между элементами */
}

/* Иконки */
.info-icon {
    width: 24px;             /* Ширина иконки */
    height: 24px;            /* Высота иконки */
    object-fit: contain;     /* Сохраняем пропорции */
}
.bio-text {
    font-size: 16px;
    color: #666;
    line-height: 1.5; /* Межстрочный интервал */
}

.role {
    font-weight: bold;
    font-size: 18px;
}


.veterinarian-role {
    color: green;
}

.moderator-role {
    color: #5656da;
}

.administrator-role {
    color: darkred;
}



.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-title {
    font-size: 22px; /* Размер текста заголовка */
    font-weight: bold; /* Жирный шрифт */
    color: #333; /* Темный цвет текста */
    margin-bottom: 15px; /* Отступ снизу */
    border-bottom: 2px solid #ccc; /* Линия под заголовком */
    padding-bottom: 5px; /* Расстояние между текстом и линией */
}

.profile-info h3 {
    font-size: 20px;
}

.profile-info p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
}


.profile-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-info strong {
    display: block;
    margin-top: 10px;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.button-home, .button-edit {
    position: fixed; /* Фиксируем кнопки на экране */
    bottom: 5vh;    /* Располагаем кнопки внизу страницы */
    padding: 10px 20px;
    background-color: #adadad; /* Цвет кнопок */
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.button-home {
    left: -5px;  /* Кнопка слегка выходит за левый край экрана */
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: left bottom;
}

.button-edit {
    right: -5px; /* Кнопка слегка выходит за правый край экрана */
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: right bottom;
}

.button-home:hover, .button-edit:hover {
    background-color: #000;
    color: #eee;
}
.general-button {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    border: 2px solid #6b7280;
    margin-top: 7%;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
    color: #090909;
    text-decoration: none; /* Убирает подчеркивание */
}

.general-button:hover {
    background-color: #000;
    color: #eee;
}
@media (max-width: 767px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.animal-form-container {
    background-color: #f9f9f9; /* светлый фон */
    border: 1px solid #ccc; /* рамка */
    border-radius: 10px; /* закругленные углы */
    padding: 20px; /* внутренний отступ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тень */
}

.animal-form-container h1 {
    font-size: 1.5rem; /* размер заголовка */
    color: #333; /* цвет текста */
    margin-bottom: 15px; /* отступ снизу */
}

.animal-form-container label {
    font-weight: bold; /* жирный текст */
    color: #555; /* цвет текста */
}

.animal-form-container input,
.animal-form-container select,
.animal-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.animal-form-container textarea {
    height: 80px; /* фиксированная высота */
}

.animal-form-container .submit-container {
    text-align: center; /* Центрирует кнопку */
    margin-top: 15px; /* Отступ сверху */
}

.animal-form-container .animal-submit {
    width: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.animal-form-container .animal-submit:hover {
    background-color: #000;
    color: #eee;
}
.custom-close-button{
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-close-button:hover{
    background-color: #000;
    color: #eee;
}

.animal-form-container .question-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    color: #888;
    cursor: pointer;
}

.animal-form-container .question-icon:hover {
    color: #555;
}
.checkbox-wrapper-31 {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    appearance: none;
}

.checkbox-wrapper-31 svg {
    width: 20px;
    height: 20px;
}

.checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
}
.upload-btn {
     width: 50%;
     font-size: 0.9rem;
     font-weight: 600;
     padding: 8px 24px;
     margin: 12px 0 24px;
     border: 2px solid #6b7280;
     border-radius: 5px;
     background-color: #f6f6f6;
     cursor: pointer;
     transition: all 0.5s;
 }
.upload-btn:hover {
    background-color: #000;
    color: #eee;
}
/* Класс для анимации тряски */
.shake {
    animation: shake 0.3s;
}
.input-error {
    border: 2px solid red;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-5px);
    }
    40%, 80% {
        transform: translateX(5px);
    }
}
@keyframes blink {
    0% {
        border-color: red;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: red;
    }
}

.invalid-blink {
    animation: blink 1s infinite;
    border-width: 2px;
}
.invalid-warning {
    color: red;
    text-decoration: underline;
}
/*ЭТО СТИЛЬ ДЛЯ ВОПРОСИКА ВНЕ ФОРМЫ*/
.question-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Ensure it's in front of other elements */
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-icon {
    font-size: 24px; /* Adjust size */
    color: #333; /* Adjust color */
    cursor: pointer;
}

/* ЭТО СТИЛЬ ДЛЯ ВОПРОСИКА НЕПОСРЕДСТВЕННО ВНУТРИ САМОЙ ФОРМЫ*/
/*.question-icon {*/
/*     position: absolute; top: 10px; right: 10px; cursor: pointer;*/
/* }*/
