body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
}
.main-content {
    margin-top: 6%;
    padding: 20px;
    flex-grow: 1;

}
#commentary-header {
    display: flex;  /* Используем flexbox для выравнивания */
    align-items: center;  /* Выравниваем элементы по центру по вертикали */
}

.topic-container h2 {
    margin-bottom: 2%;
}
.side-panel {
    flex: 1;
}
.statistics {

    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10%;
}
.side-panel h2, h3 {
    text-align: center;
    margin-bottom: 3%;
}
.similar-topics {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.similar-topics p {
    text-align: center;
    font-weight: 600;
    color: #2f34ab;
}
.content-wrapper {
    display: flex;
    gap: 20px; /* Расстояние между основным контейнером и окошком */
}
.topic-container {
    flex: 3;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Прятать элементы, которые выходят за пределы */
}

.comment-content {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word; /* Разрешить перенос слов */
    overflow-wrap: break-word; /* Дополнительная поддержка */
    max-width: 100%; /* Гарантировать, что текст не выйдет за пределы контейнера */
}


.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topic-title {
    font-size: 2em;

}

.creator-info {
    display: flex;
    align-items: center;
}

.creator-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.creator-username {
    font-weight: bold;
    font-size: 1.2em;
}

.topic-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #5f4b3a; /* Темный кофейный цвет для текста */
    padding: 10px;
    background-color: #FAFAF8; /* Молочно-желтый фон */
    border-left: 5px solid #543f30; /* Светло-кофейная левая граница для выделения */
}


.comment-form {
    margin-bottom: 20px;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}



.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment {
    padding: 15px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.comment-date {
    color: #777;
    font-size: 12px;
}


.more-link, .less-link {
    font-weight: bold; /* Сделать жирным */
    text-align: center;
    text-decoration: none; /* Убираем подчеркивание */
    color: #496c33; /* Цвет текста */
    cursor: pointer; /* Курсор в виде указателя */
}
.comment-content .more-link, .less-link {
    display: block;
    text-align: center;
    margin-top: 10px; /* Отступ сверху для отделения от текста */
}


/* Для textarea, чтобы отключить возможность растягивания */
textarea {
    width: 100%;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #543f30;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #6F4E37;
    outline: none;
    background-color: #FAFAF8; /* Light gray background */
    color: #543f30; /* Navy blue text */
    resize: none; /* Отключение возможности растягивания */
    overflow: hidden;
    transition: ease 0.25s;
}

textarea:focus {
    box-shadow: 5.5px 7px 0 #543f30;
    border-color: #543f30; /* Add color change on focus */
}
.add-comment {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    background-color: #EADDCA;
    cursor: pointer;
    transition: all 0.5s, opacity 0.5s ease-in-out;
    color: #6F4E37;
    text-decoration: none; /* Убирает подчеркивание */
    text-align: center;
    display: block;
    margin: 0 auto;
    opacity: 0; /* Скрываем кнопку по умолчанию */
}

.add-comment.show {
    opacity: 1; /* Показываем кнопку */
}

.add-comment:hover {
    background-color: #6F4E37;
    color: #EADDCA;
}

/* Styling for the replies */
.replies-list {
    list-style-type: none;
    margin-left: 20px; /* Indent replies to the right */

}

.reply {

    padding: 10px;
    margin-bottom: 2%;
    border-radius: 5px;
}

.reply .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* heart button*/
.like-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.like-container {
    display: flex;
    align-items: center;
    gap: 7%;
    cursor: pointer;
    user-select: none;
}
.like-container span {
    font-weight: 600;
    font-size: 24px;
}
.like-icon {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #666;
}

.like-icon:hover {
    transform: scale(1.1) rotate(-10deg);
}


.like-container input:checked ~ svg {
    fill: #58833e;
}


.rating-button {
    background: none;
    border: none;
    cursor: pointer;
}

.rating-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}

.rating-button.active .rating-icon {
    transform: scale(1.1);
}
.buttons-container {
    display: flex;
    gap: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    align-items: center;
}
/* Основной стиль для кнопок в виде текста */
.text-button {
    background: none;  /* Убираем фон */
    border: none;      /* Убираем границу */
    color: #6A4E3B;    /* Цвет текста, можно настроить */
    font-size: 16px;    /* Размер шрифта */
    font-weight: bold;  /* Полужирный шрифт */
    text-decoration: none; /* Подчеркивание текста */
    cursor: pointer;   /* Курсор при наведении */
    padding: 0;         /* Убираем отступы */
    display: inline;    /* Сделаем кнопки строчными элементами */
    transition: color 0.3s ease, transform 0.2s ease; /* Плавный переход для цвета и масштабирования */
}

/* Стиль для кнопки при наведении */
.text-button:hover {
    color: #45220A;  /* Цвет текста при наведении */
    transform: scale(1.05);  /* Легкое увеличение при наведении */
}

/* Стиль для кнопки в активном состоянии */
.text-button:active {
    color: #3d1e09;  /* Цвет текста при клике */
}
.responses-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #333;
    gap: 7%;
}

.response-icon {
    width: 40px;
    height: 40px;
}
.responses-container span {
    font-weight: 600;
    font-size: 20px;
}
.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid #a8a7a7;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease; /* Плавная анимация для блока */
}

.topic:hover {
    transform: scale(1.03); /* Увеличение размера блока при наведении */
}

.user-info {
    display: flex;
    align-items: center;
}

.created-at {
    margin-left: auto; /* Сдвигаем дату к правому краю */
    font-size: 0.9em; /* Уменьшаем размер шрифта для даты, если нужно */
    color: #666; /* Изменяем цвет текста для лучшего восприятия */
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Плавный переход при изменении масштаба */
}

.profile-image:hover {
    transform: scale(1.1); /* Увеличение на 20% при наведении */
}

.topicT {
    flex-grow: 1;
    color: #547e3c;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease; /* Добавляем плавный переход для трансформации */
    white-space: nowrap;       /* Запрещаем перенос строки */
}

.topicT:hover {
    text-decoration: none;
    transform: scale(1.03);
    color: #53a232;
}
.scroll-up {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(29, 29, 31, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: bottom .4s, transform .4s;
    cursor: pointer;
}

.scroll-up:hover {
    transform: translateY(-.25rem);
}
