.main-content {
    margin-top: 60px;
}

.animal-info-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}

.animal-details {
    width: 50%;
    box-sizing: border-box;

}
.details-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}
.details-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.info-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
}
.info-list li:last-child {
    border-bottom: none;
}
.info-list strong {
    font-weight: bold;
    color: #333;
}
.info-list li:nth-child(even) {
    background-color: #f9f9f9;
}
.animal-slider {
    width: 50%;
    box-sizing: border-box;
}
.slider {
    margin: 0 auto;
    max-width: 100%;
}
.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}
.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}
.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}
.slide:first-child {
    display: block;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide_buttons {
    left: 0;
    right: 0;
    text-align: center;
}
a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}
.directional_nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: -55%;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

.previous_btn {
    bottom: 0;
    left: 10px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 0;
}

@media only screen and (max-width: 767px) {
    .animal-info-container {
        flex-direction: column;
        gap: 20px;
    }

    .animal-details {
        width: 100%;
    }

    .animal-slider {
        width: 100%;
    }

    .directional_nav {
        top: auto;
    }

    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}
.animal-title-section {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    position: relative;
    margin: 2% 3% 1% 3%;
}

.category-title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;

    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 10px;
}

.animal-icon {
    width: 65px;
    height: 65px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}
.animal-icon:hover {
    transform: scale(1.05);
}

.animal-title {

    font-size: 36px;
    font-weight: bold;
}

.animal-description h3 {
    margin-bottom: 10px;
}
.gender-link {
    text-decoration: none;
}
.gender-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: transform 0.3s ease;
}

.gender-info:hover {
    transform: scale(1.05);
}

.gender-info span {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #090909;
}

.gender-icon {
    width: 30px;
    height: 30px;
}
.item-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    transition: transform 0.3s ease;
}
.item-info span {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #090909;
}

.item-icon {
    width: 30px;
    height: 30px;
}
.views-icon {
    width: 20px;
    height: 20px;
}
.views-info span{
    font-size: 12px;
    margin-right: 7px;
}
.status-info {
    margin-left: auto;
}

.animal-description, .user-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 50%;
    padding: 15px;
    background-color: #ffffff;
    overflow: hidden;
}
.animal-description p {
    overflow-wrap: break-word;
}
.stage-two h3 {
    text-align: center;
    font-size: 20px;

}
.stage-two {
    gap: 20px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.user-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex-wrap: wrap;
}
.user-info-left,
.user-info-right {
    width: 48%;

}
.contact-info {
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.user-info-left p,
.user-info-right p {
        display: flex;
        align-items: center;
        margin: 10px 0;
}
.username {
    font-weight: bold;
}
.info-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;

}
.user-info-left span {
    font-weight: 600;

}
.user-info h3 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.user-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #a8a7a7;
    padding: 20px;
}

.profile-inner {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

a:hover .profile-image {
    transform: scale(1.07);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.adopt-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
    color: #090909;
    text-decoration: none;
}
.adopt-button:hover {
    background-color: #000;
    color: #eee;
}
@media only screen and (max-width: 767px) {
    .stage-two {
        display: block;
    }
    .animal-description {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .user-info {
        width: 100%;
    }
}
