input, select {
    width: 200px;
    padding: 10px 10px;
    border: 2px solid #ccc;
    outline: 0;
    border-radius: 5px;
    background-color: transparent;
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.5s;
}
.age {
    width: 100px;
}
select {
    width: 160px;
}

input:focus, select:focus {
    border: 2px solid #000;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-info {
    background-color: #f0f0f0;
    padding: 15px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 20px;
}
.category-title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: darkgreen;
}
.category-icon img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.search-button {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
    color: #090909;
    text-decoration: none;
}
.search-button:hover {
    background-color: #000;
    color: #eee;
}
.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}
.no-results-image {
    width: 150px;
    height: auto;
    border-radius: 30%;
}
.no-results-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: darkred;
    margin-top: 10px;
}
.no-results-small-text{
    font-weight: bold;
}
.tips p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    background-color: #fafafa;
    border-radius: 10px;
}
.care-icon {
    margin-right: 5px;
    width: 40px;
    height: auto;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.pagination a, .pagination span {
    display: inline-block;
    padding: 0.8em 1.6em;
    margin: 0 4px;
    border-radius: 8em;
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 0 black;
    transition: all 0.3s ease-in-out;
}
.pagination a:hover {
    transform: translateY(-3px) translateX(-1px);
    box-shadow: 2px 5px 0 0 black;
}
.pagination a:active {
    transform: translateY(1px) translateX(0px);
    box-shadow: 0 0 0 0 black;
}
.pagination span {
    background-color: transparent;
    color: #333;
    padding: 0.8em 1.6em;
    font-size: 14px;
    font-weight: 700;
}
.pagination .page-number.active {
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(9, 9, 9);
}
.pagination-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin: 0 4px;
}
.corrector {
    margin-bottom: 6%;
}