<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Profile of {{.User.Username}}</title>
        <link rel="stylesheet" type="text/css" href="/css/templates_styles/edit_profile.css">
        <link rel="stylesheet" type="text/css" href="/css/general_styles/general.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.9/dist/sweetalert2.all.min.js"></script>
        <script src="/js/edit_profile.js" defer></script>
    </head>
<body>
    <div class="profile-background" style="background-image: url('{{.UserImage.ProfileBgImage}}');">

        <div class="bg-buttons" id="target-container">
            <input type="file" id="uploadBg" accept="image/*" style="display: none">
            <button type="button" id="customBgButton">
                <span class="button-text">Upload background image</span>
            </button>
            <button type="button" id="removeBg">
                <span class="button-text">Remove</span>
            </button>
        </div>
    </div>

    <div class="profile">
        <div class="profile-image-functions">
            <div class="profile-image">
                <img id="profileImage" src="{{.UserImage.ProfileImage}}" alt="Profile Image">
            </div>
            <div class="buttons">
                <input type="file" id="uploadImage" accept="image/*" style="display: none;">
                <button type="button" id="customUploadButton">
                    <span class="button-text">Upload Image</span>
                </button>
                <button type="button" id="editCropButton">
                    <span class="button-text">Crop Image</span>
                </button>

                <button type="button" id="removeProfileImage">
                    <span class="button-text">Remove</span>
                </button>
            </div>
        </div>
        <div class="form-container">
            <form action="/save-profile" method="POST" enctype="multipart/form-data">
                <label for="firstName"><strong>First Name:</strong></label><br>
                <input type="text" id="firstName" name="firstName" value="{{.UserDetail.FirstName}}" required><br><br>
                <label for="lastName"><strong>Last Name:</strong></label><br>
                <input type="text" id="lastName" name="lastName" value="{{.UserDetail.LastName}}" required><br><br>
                <label for="bio"><strong>Bio:</strong></label><br>
                <textarea id="bio" name="bio" rows="4" required>{{.UserDetail.Bio}}</textarea><br><br>
                <label for="phone"><strong>Phone:</strong></label><br>
                <input type="tel" id="phone" name="phone" value="{{.UserDetail.PhoneNumber}}" required><br><br>
                <label for="dob"><strong>Date of Birth:</strong></label><br>
                <input type="date" id="dob" name="dob" value="{{.UserDetail.FormattedDateOfBirth}}" required><br><br>
            </form>
            <div class="form-buttons">
                <button type="submit" class="button-save">
                    <span class="button-text">Save</span>
                </button>
                <button type="button" onclick="window.location.href='/profile'">
                    <span class="button-text">Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Модальное окно -->
    <div id="cropModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Crop Your Image</h2>
                <span class="close">&times;</span>
            </div>
            <img id="cropImage" src="" alt="Crop Image" class="crop-container">
            <button id="cropButton">Crop & Save</button>
        </div>
    </div>
    <div class="sidebar-button-container" id="original-container">
        <button id="toggleButton" onclick="toggleSidebar()">
            <span class="button-text">Settings</span>
        </button>
    </div>
    <div id="sidebar" class="sidebar">
        <h2>Profile settings</h2>
        <label class="checkbox-wrapper-31">
            <input type="checkbox" id="showEmail" name="showEmail" {{if .UserPrivacy.ShowEmail}}checked{{end}}>
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
            <span>Show Email</span>
        </label>
        <br>
        <label class="checkbox-wrapper-31">
            <input type="checkbox" id="showPhone" name="showPhone" {{if .UserPrivacy.ShowPhone}}checked{{end}}>
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
            <span>Show phone number</span>
        </label>


        <div id="saveConfirmation" style="display: none; color: green;">Settings saved successfully!</div>
        <button onclick="saveSettings()">Save configurations</button>
        <button href="/logout" id="logout">
            <span class="button-text">Logout</span>
        </button>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

</body>
</html>
