<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile of {{.Username}}</title>
    <link rel="stylesheet" type="text/css" href="/css/edit_profile.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="/js/edit_profile.js" defer></script>
</head>
<body>
<div class="profile-background" style="background-image: url('{{if .ProfileBgImage}}{{.ProfileBgImage}}{{else}}https://images.unsplash.com/photo-1727102062617-2b793eec0a50?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D{{end}}');">

    <input type="file" id="uploadBg" accept="image/*" style="display: none">

    <button type="button" id="customBgButton" class="custom-bg-button">Edit background image</button>

    <button type="button" id="removeBg" class="remove-bg-button">Remove background image</button>
</div>

    <div class="profile">

        <div class="profile-image-functions">
            <div class="profile-image">
                <img id="profileImage" src="{{.ProfileImage}}" alt="Profile Image">
            </div>
            <!-- Скрываем input -->
            <input type="file" id="uploadImage" accept="image/*" style="display: none;">
            <!-- Стили для кнопки загрузки изображения -->
            <button type="button" id="customUploadButton" class="custom-upload-button">Upload Image</button>

            <!-- Кнопка для запуска обрезки -->
            <button type="button" id="editCropButton" class="edit-crop-button">Edit / Crop Image</button>

            <button type="button" id="removeProfileImage" class="remove-profile-button">Remove profile image</button>
        </div>

        <div class="form-container">

            <form action="/save-profile" method="POST" enctype="multipart/form-data">
                <!-- Поля для изменения данных пользователя -->
                <label for="firstName"><strong>First Name:</strong></label><br>
                <input type="text" id="firstName" name="firstName" value="{{.FirstName}}" required><br><br>

                <label for="lastName"><strong>Last Name:</strong></label><br>
                <input type="text" id="lastName" name="lastName" value="{{.LastName}}" required><br><br>

                <label for="bio"><strong>Bio:</strong></label><br>
                <textarea id="bio" name="bio" rows="4" required>{{.Bio}}</textarea><br><br>

                <label for="phone"><strong>Phone:</strong></label><br>
                <input type="tel" id="phone" name="phone" value="{{.PhoneNumber}}" required><br><br>

                <label for="dob"><strong>Date of Birth:</strong></label><br>
                <input type="date" id="dob" name="dob" value="{{.DateOfBirth}}" required><br><br>

            </form>

            <!-- Кнопка для сохранения изображения и данных профиля -->
            <button type="submit" class="button-save">Save Profile</button>
            <button type="button" onclick="window.location.href='/profile'" class="button-cancel">Discard changes</button>
        </div>

    </div>


<!-- Модальное окно -->
<div id="cropModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Crop Your Image</h2>
            <span class="close">&times;</span>
        </div>
        <img id="cropImage" src="" alt="Crop Image" class="crop-container">
        <button id="cropButton" class="button-save">Crop & Save</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

</body>
</html>
