<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/animal_list.css">
    <link rel="stylesheet" href="/css/forum.css">
    <title>Forum</title>
</head>
<body>
<nav>
    <div class="wrapper">
        <div class="logo"><a href="/">Animal Shelter</a></div>
        <ul class="nav-links">
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="welcome-wrapper">
        <div class="welcome-message">
            <img src="system_images/forum welcome cat.jpeg" alt="Welcome Image" class="welcome-image">
            <div class="welcome-text">
                <h1>Welcome to the Forum!</h1>
                <p>Feel free to explore and participate in our discussions.</p>
            </div>
        </div>
    </div>

    <h1>Forum Topics</h1>
    <div class="view-more">
        <a href="/new_topic" class="view-more-button">New Topic</a>
    </div>

    <div class="discussions-wrapper">
        <div class="hot-discussion">
            <h2>Hottest Discussions</h2>
            <ul>
                {{range $index, $topic := .HottestTopics}}
                <li class="topic">
                    <div class="user-info">
                        <img src="{{$topic.ProfileImage}}" alt="Profile Image" class="profile-image" onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png';">
                        <span class="username">{{$topic.Username}}</span>
                        <span class="created-at">{{$topic.CreatedAt}}</span>
                    </div>
                    <a href="/topic?id={{$topic.ID}}" class="topic-title">{{$topic.Title}}</a>
                    <span class="responses">Responses: {{$topic.ResponseCount}}</span>
                    <img src="system_images/fire.png" alt="Popular" class="fire-icon">
                </li>
                {{end}}
            </ul>
        </div>

        <div class="now-discuss">
            <h2>Your Topics</h2>
            {{if .UserLoggedIn}}
            {{if .UserTopics}}
            <ul>
                {{range .UserTopics}}
                <li class="topic">
                    <a href="/topic?id={{.ID}}" class="topic-title">{{.Title}}</a>
                </li>
                {{end}}
            </ul>
            {{else}}
            <p>You have no topics created yet.</p>
            {{end}}
            {{else}}
            <p>You need to <a href="/login">login</a> to see your topics.</p>
            {{end}}
        </div>
    </div>

    <div class="search-wrapper" id="search-section">
        <div class="search-field">
            <input type="text" id="topic-search" class="search-input" placeholder="Search by topic title...">
            <button class="search-button" onclick="searchTopics()">Search</button>
            <button class="search-button recent-button">Recent</button>
        </div>
    </div>

    {{if eq (len .Topics) 0}}
    <div class="no-results">
        <img src="system_images/Not found cat.jpeg" alt="No Results" class="no-results-image">
        <p class="no-results-text">Um, sorry, I didn't find anything :(</p>
        <p class="no-results-small-text" style="color: gray; font-size: small;">(Search inspector - Aidar)</p>
    </div>
    {{else}}
    <ul>
        {{range $topic := .Topics}}
        <li class="topic">
            <div class="user-info">
                <img src="{{$topic.ProfileImage}}" alt="Profile Image" class="profile-image" onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png';">
                <span class="username">{{$topic.Username}}</span>
                <span class="created-at">{{$topic.CreatedAt}}</span>
            </div>
            <a href="/topic?id={{$topic.ID}}" class="topic-title">{{$topic.Title}}</a>
            <span class="responses">Responses: {{$topic.ResponseCount}}</span>
        </li>
        {{end}}
    </ul>
    {{end}}

    <div class="pagination">
        {{- range .Pages -}}
        {{- if eq .Number "..." -}}
        <img src="system_images/paw for pages.png" alt="..." class="pagination-icon">
        {{- else -}}
        <a href="{{.URL}}#search-section" class="page-number {{if .IsActive}}active{{end}}">
            {{.Number}}
        </a>
        {{- end -}}
        {{- end -}}
    </div>





</div>

</body>
<script>
    const titleInput = document.getElementById('topic-search');
    function searchTopics() {
        const title = titleInput.value;
        const url = new URL(window.location.href);
        if (title) url.searchParams.set('title', title);
        else url.searchParams.delete('title');
        window.location.href = url.toString();
    }

    document.addEventListener("DOMContentLoaded", function() {
        const navbar = document.querySelector('nav');
        let lastScrollTop = 0;

        window.addEventListener('scroll', function() {
            let currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (currentScrollTop > lastScrollTop) {
                navbar.classList.add('nav-hidden');
            } else {
                navbar.classList.remove('nav-hidden');
            }

            lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop;
        });
    });
</script>
</html>
