<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Forum</title>
</head>
<body>
<nav>
    <div class="wrapper">
        <div class="logo"><a href="/">Animal Shelter</a></div>
        <ul class="nav-links">
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
</nav>

<h1>Forum Topics</h1>
<a href="/new_topic">Create New Topic</a>
<ul>
    {{range .}}
    <li><a href="/topic?id={{.ID}}">{{.Title}}</a></li>
    {{end}}
</ul>
</body>
</html>
