<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Shelter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Animal Shelter</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {{if .LoggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{end}}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="cards-list">
        {{range .Animals}}
        <a href="/animal_information?id={{.ID}}" class="card">
            <div class="card_image">
                {{if .Images}}
                <img src="{{(index .Images 0)}}">
                {{else}}
                <img src="/images/default.png">
                {{end}}
            </div>
            <div class="card_title">
                <p>{{.Name}}</p>
            </div>
        </a>
        {{end}}
    </div>
</div>
</body>
</html>
