<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<nav>
    <div class="wrapper">
        <div class="logo">
            <a href="/" class="logo-link">
                <img src="system_images/logo.svg" alt="Logo Image" class="logo-image">
                <span class="logo-text">Animal Shelter</span>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="left-side"></div>
    <div class="right-side">
        <h1>Login</h1>
        {{if .ErrorMessage}}
        <div class="error-message">{{.ErrorMessage}}</div>
        {{end}}

        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" class="login-btn" value="Login">
        </form>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
</main>

</body>
</html>
