<!DOCTYPE html>
<html>
<head>
  <title>Register Step 1</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<nav>
  <div class="wrapper">
    <div class="logo"><a href="/">Animal Shelter</a></div>
    <ul class="nav-links">
      <li><a href="#">Feedback</a></li>
    </ul>
  </div>
</nav>
<main>
  <div class="left-side-reg"></div>
  <div class="right-side">
    <h1>Register Step 1</h1>
    {{if .ErrorMessage}}
    <div class="error-message">{{.ErrorMessage}}</div>
    {{end}}

    <form action="/register_extra" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" value="{{.FirstName}}" required><br>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" value="{{.LastName}}" required><br>

      <label for="bio">Bio:</label>
      <input type="text" id="bio" name="bio" value="{{.Bio}}" required><br>

      <label for="city">City:</label>
      <input type="text" id="city" name="city" value="{{.City}}" required><br>

      <label for="country">Country:</label>
      <input type="text" id="country" name="country" value="{{.Country}}" required><br>

      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" value="{{.PhoneNumber}}" required><br>

      <input type="submit" class="login-btn" value="Next">
    </form>
  </div>
</main>
</body>
</html>
