<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Topic</title>

</head>
<body>
<h1>Topic: {{.Title}}</h1> <!-- Выводим название темы -->
<form method="POST" action="/create_post">
    <input type="hidden" name="topic_id" value="{{.ID}}">
    <label for="content">Post:</label>
    <textarea id="content" name="content" required></textarea>
    <button type="submit">Добавить комментарий</button> <!-- Кнопка для добавления комментария -->
</form>
<ul>
    {{range .Posts}}
    <li>{{.Content}} - {{.CreatedAt}}</li>
    {{end}}
</ul>
</body>
</html>
