<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile of {{.Username}}</title>
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<div class="profile-background" style="background-image: url('/{{.user.ProfileBgImage}}');">
  <div class="profile">
    <div class="profile-image">
      <img src="/{{.user.ProfileImage}}" alt="Profile Image" >
    </div>
    <div class="profile-info">

      <h1> {{.user.Username}}</h1>
      <h3>{{.user.FirstName}} {{.user.LastName}}</h3>
      <p>{{.user.Bio}}</p>

      <div class="contact-info">

        <!-- Условное отображение email -->
        {{if .user.ShowEmail}}
        <p><strong>Email:</strong> {{.user.Email}}</p>
        {{end}}
        <!-- Условное отображение телефона -->
        {{if .user.ShowPhone}}
        <p><strong>Phone Number:</strong> {{.user.PhoneNumber}}</p>
        {{end}}
        <strong>Date of Birth:</strong> {{.formattedDate}}<br>

      </div>
    </div>
  </div>
</div>

<!-- Кнопка Home (слева) -->
<a href="/home" class="button-home">Home</a>

</body>
</html>
