<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile of {{.User.Username}}</title>
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <script src="/js/profile.js"></script>
</head>
<body>
<div class="profile-background" style="background-image: url('/{{.UserImage.ProfileBgImage}}');">
  <div class="profile">
    <div class="profile-image">
      <img src="/{{.UserImage.ProfileImage}}" alt="Profile Image" >
    </div>
    <div class="profile-info">

      <h1> {{.User.Username}}</h1>
      <h3>{{.UserDetail.FirstName}} {{.UserDetail.LastName}}</h3>
      <p>{{.UserDetail.Bio}}</p>

      <div class="contact-info">

        <!-- Условное отображение email -->
        {{if .UserPrivacy.ShowEmail}}
        <p><strong>Email:</strong> {{.User.Email}}</p>
        {{end}}
        <!-- Условное отображение телефона -->
        {{if .UserPrivacy.ShowPhone}}
        <p><strong>Phone Number:</strong> {{.UserDetail.PhoneNumber}}</p>
        {{end}}
        <strong>Date of Birth:</strong> <span id="dob-display">{{.UserDetail.DateOfBirth}}{</span><br>

      </div>
    </div>
  </div>
</div>

<!-- Кнопка Home (слева) -->
<a href="/home" class="button-home">Home</a>

</body>
</html>
